@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

// Fix missing font
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/" !default;

$font-family-sans-serif:  "Saira Semi Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
